<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://intgraph.qiniudn.com/static/bootstrap3/js/jquery.min.js"></script>
        <script src="http://intgraph.qiniudn.com/static/bootstrap3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="http://intgraph.qiniudn.com/static/bootstrap3/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="http://intgraph.qiniudn.com/static/bootstrap3/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="http://intgraph.qiniudn.com/static/pygments.css"/>
        <title>
System Design - IntGraph
</title>
        
<script src="http://intgraph.qiniudn.com/static/buckets-minified.js"></script>
<script src="http://intgraph.qiniudn.com/static/angular.min.js"></script>
<script>
var IgApp = angular.module('IgApp', [], function($interpolateProvider) {
  $interpolateProvider.startSymbol('{$');
  $interpolateProvider.endSymbol('$}');
});

var uniqueItems = function (data, key) {
    var result = new buckets.Set()
    for (var i = 0; i < data.length; i++) {
        var tags = data[i][key];
        for (var idx in tags) {
            result.add(tags[idx]);
        }
    }
    return result.toArray();
};

function IgCtrl($scope, filterFilter) {
    
    $scope.usedifficulty = {};
    
    $scope.usecategories = {};
    
    $scope.usesource = {};
    

    $scope.articles = [
        
        {"source": ["unknown"], "url": "System Design/ratelimit-system.html", "title": "Design a Rate-limit System", "difficulty": ["3"], "date": "2015-08-31 01:09:45", "categories": ["distributed system"]},
        
        {"source": ["facebook"], "url": "System Design/news-feed.html", "title": "Design a News Feed System", "difficulty": ["3.5"], "date": "2015-08-30 15:51:17", "categories": ["distributed system"]},
        
        {"source": ["google"], "url": "System Design/distributed-rand-number-generator.html", "title": "Design a Distributed Random Number Generator", "difficulty": ["3.5"], "date": "2015-05-17 17:36:40", "categories": ["distributed system"]},
        
        {"source": ["hulu"], "url": "System Design/detect-the-differences-between-two-large-files-at-different-servers.html", "title": "Detect the differences between two large files at different servers", "difficulty": ["2"], "date": "2015-03-16 21:47:08", "categories": ["hash", "merkle tree"]},
        
    ];

    $scope.$watch(function () {
        return {
            articles: $scope.articles,
            
            usedifficulty: $scope.usedifficulty,
            
            usecategories: $scope.usecategories,
            
            usesource: $scope.usesource,
            
        }
    }, function (value) {
        var selected;
        $scope.count = function (prop, value) {
            return function (el) {
                return el[prop] == value;
            };
        };
        var filterAfterAll = $scope.articles;
        var filterAfterThis = [];
        
        console.log(filterAfterAll);
        $scope.difficultyGroup = uniqueItems($scope.articles, 'difficulty');
        selected = false;
        filterAfterThis = [];
        for (var j in filterAfterAll) {
            var p = filterAfterAll[j];
            for (var i in $scope.usedifficulty) {
                if ($scope.usedifficulty[i]) {
                    selected = true;
                    console.log(i, p.difficulty);
                    console.log(p.difficulty.indexOf(i) != -1);
                    if (p.difficulty.indexOf(i) != -1) {
                        filterAfterThis.push(p);
                        break;
                    }
                }
            }
        }
        console.log("difficulty", filterAfterThis, filterAfterAll, selected);
        if (!selected) {
            filterAfterThis = filterAfterAll;
            $scope.filteredArticles = filterAfterThis;
        }
        filterAfterAll = filterAfterThis;
        
        console.log(filterAfterAll);
        $scope.categoriesGroup = uniqueItems($scope.articles, 'categories');
        selected = false;
        filterAfterThis = [];
        for (var j in filterAfterAll) {
            var p = filterAfterAll[j];
            for (var i in $scope.usecategories) {
                if ($scope.usecategories[i]) {
                    selected = true;
                    console.log(i, p.categories);
                    console.log(p.categories.indexOf(i) != -1);
                    if (p.categories.indexOf(i) != -1) {
                        filterAfterThis.push(p);
                        break;
                    }
                }
            }
        }
        console.log("categories", filterAfterThis, filterAfterAll, selected);
        if (!selected) {
            filterAfterThis = filterAfterAll;
            $scope.filteredArticles = filterAfterThis;
        }
        filterAfterAll = filterAfterThis;
        
        console.log(filterAfterAll);
        $scope.sourceGroup = uniqueItems($scope.articles, 'source');
        selected = false;
        filterAfterThis = [];
        for (var j in filterAfterAll) {
            var p = filterAfterAll[j];
            for (var i in $scope.usesource) {
                if ($scope.usesource[i]) {
                    selected = true;
                    console.log(i, p.source);
                    console.log(p.source.indexOf(i) != -1);
                    if (p.source.indexOf(i) != -1) {
                        filterAfterThis.push(p);
                        break;
                    }
                }
            }
        }
        console.log("source", filterAfterThis, filterAfterAll, selected);
        if (!selected) {
            filterAfterThis = filterAfterAll;
            $scope.filteredArticles = filterAfterThis;
        }
        filterAfterAll = filterAfterThis;
        
        $scope.filteredArticles = filterAfterAll;
        console.log(filterAfterThis, filterAfterAll);
    }, true);

    $scope.$watch('filtered', function (newValue) {
        if (angular.isArray(newValue)) {
            console.log(newValue.length);
        }
    }, true);
}

IgApp.filter('groupBy',
    function () {
        return function (collection, key) {
            if (collection === null) return;
            return uniqueItems(collection, key);
        };
    });

</script>

    </head>
    <body ng-app="IgApp">
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index.html">IntGraph</a>
                </div>
                <ul class="nav navbar-nav">
                    
                    <li>
                        <a href="/index.html">Problems</a>
                    </li>
                    
                    <li>
                        <a href="/System Design.html">System Design</a>
                    </li>
                    
                    <li>
                        <a href="/Object Orinted Design.html">Object Orinted Design</a>
                    </li>
                    
                    <li>
                        <a href="/Contribute.html">Contribute</a>
                    </li>
                    
                    <li>
                        <a href="/About.html">About</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        <div class="container">
            
<div ng-controller="IgCtrl">
    <h1>System Design</h1>
    <br/>
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead> <tr>
                <th>#</th>
                <th>Problem</th>
                <th>Add time</th>
                </tr> </thead>
                <tbody>
                <tr ng-repeat="article in filteredArticles | filter:query">
                    <td> {$ $index + 1 $} </td>
                    <td> <a href="{$ article.url $}"> {$ article.title $} </a></td>
                    <td> {$ article.date $} </td>
                </tr>
                </tbody>
            </table>
        </div>
    
        <div class="col-md-2">
            <h2> Filters </h2>
            <br/>
            <div class="form-group">
                <label class="sr-only" for="igsearch">Search</label>
                <input type="text" class="form-control" id="igsearch" placeholder="Search" ng-model="query.title">
            </div>
            
            
            <h3>
            <span class="label label-info">difficulty</span>
            </h3>
                <p></p>
                <div class="checkbox" ng-repeat="difficulty in difficultyGroup | orderBy:'toString()'">
                    <label>
                        <input type="checkbox" ng-model="usedifficulty[difficulty]"/>
                        {$ difficulty $}
                    </label>
                </div>
            
            <h3>
            <span class="label label-info">categories</span>
            </h3>
                <p></p>
                <div class="checkbox" ng-repeat="categories in categoriesGroup | orderBy:'toString()'">
                    <label>
                        <input type="checkbox" ng-model="usecategories[categories]"/>
                        {$ categories $}
                    </label>
                </div>
            
            <h3>
            <span class="label label-info">source</span>
            </h3>
                <p></p>
                <div class="checkbox" ng-repeat="source in sourceGroup | orderBy:'toString()'">
                    <label>
                        <input type="checkbox" ng-model="usesource[source]"/>
                        {$ source $}
                    </label>
                </div>
            
        </div>
    </div>
</div>


        </div>
        <hr/>
        <footer class="bs-footer" role="contentinfo">
            <div class="container">
                <p>Powered by IntGraph</p>
                <p>This page is generated at 2015-10-28 01:48:39 CST.</p>
                <p>Designed and built by <a href="http://wizmann.tk">Wizmann</a>. <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253045810'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253045810%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script></p>
            </div>
        </footer>

         
         
        <style> div.container img { max-width: 100%; } </style>
        
    </body>
</html>